In [ ]:
!pip install arcticdb
!pip install pandas
from arcticdb import Arctic
import sys
import os
import pandas as pd 
import numpy as np
# from arcticdb_ext.exceptions import InternalExecption

In [6]:
print(os.getcwd())

/content

In [ ]:
def _handle_errors(msg):
  print(Exception(msg))

In [12]:
ac = Arctic(f"lmdb:///{os.getcwd()}/new_folder")
name_db = "testing.arctic"
try:
  ac.get_library(name_db)
  print("Found lib")
except:
  print("Not found")
try:
  ac.create_library(name_db)
  print("Created lib")
except:
  print("Lib exists")

Found lib
Lib exists

In [16]:
NUM_COLUMNS=100
NUM_ROWS=100_000

df = pd.DataFrame(np.random.randint(0,100,size=(NUM_ROWS, NUM_COLUMNS)), columns=[f"COL_{i}" for i in range(NUM_COLUMNS)], index=pd.date_range('2000', periods=NUM_ROWS, freq='h'))
lib = ac[name_db]
lib.write("my_data", df)
print(lib)
# data = lib.read("my_data",as_of=0)

Library(Arctic(config=LMDB(path=//content/new_folder)), path=testing.arctic, storage=lmdb_storage)

In [19]:
data = lib.read("my_data")
print(data)
print(data.data)

VersionedItem(symbol='my_data', library='testing.arctic', data=<class 'pandas.core.frame.DataFrame'>, version=1, metadata=None, host='LMDB(path=//content/new_folder)')
                     COL_0  COL_1  COL_2  COL_3  COL_4  COL_5  COL_6  COL_7  \
2000-01-01 00:00:00     47      9     95     49      1     53     41     89
2000-01-01 01:00:00     94     59     44     96     74     10     26     29
2000-01-01 02:00:00     35     16     23     79     17     21     54     70
2000-01-01 03:00:00     50     84     87     15     46     97     62     97
2000-01-01 04:00:00     32     19     17     97     25     34     88     98
...                    ...    ...    ...    ...    ...    ...    ...    ...
2011-05-29 11:00:00      7     96     67     94      8     44     37     83
2011-05-29 12:00:00     52     91     43     60     35     48     78     60
2011-05-29 13:00:00     99     88     10     32     93     82     65     49
2011-05-29 14:00:00     73     49     60      9     39     55     72     80
2011-05-29 15:00:00     41     26     24     64     71     29     38      2

                     COL_8  COL_9  ...  COL_90  COL_91  COL_92  COL_93  \
2000-01-01 00:00:00     56     28  ...      61      64      33       4
2000-01-01 01:00:00      4     69  ...      17      72      73      63
2000-01-01 02:00:00     54      2  ...      27      73      62       6
2000-01-01 03:00:00     81     39  ...      36      70       6      35
2000-01-01 04:00:00     36     60  ...      99      73      72       7
...                    ...    ...  ...     ...     ...     ...     ...
2011-05-29 11:00:00     26     46  ...      30      16      33      33
2011-05-29 12:00:00     12     58  ...      77      23      90      66
2011-05-29 13:00:00     83     86  ...      99      59       6      29
2011-05-29 14:00:00     22      0  ...      61      32      39       0
2011-05-29 15:00:00     11     42  ...      23      14      54      87

                     COL_94  COL_95  COL_96  COL_97  COL_98  COL_99
2000-01-01 00:00:00       6      64       0      52      76      89
2000-01-01 01:00:00      67      94      78      95      13      90
2000-01-01 02:00:00      57      78      97      43      68      31
2000-01-01 03:00:00      86       2      88      86      69       4
2000-01-01 04:00:00      39      60      82      59      16      34
...                     ...     ...     ...     ...     ...     ...
2011-05-29 11:00:00      61      25      30      67      93      52
2011-05-29 12:00:00      41      31      30      94      43      39
2011-05-29 13:00:00      37      46      25      32      69      27
2011-05-29 14:00:00       9      70      21      92      55      57
2011-05-29 15:00:00      62       9      72       3      23      68

[100000 rows x 100 columns]